.chat-menu {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    & .chat__title {
      font-weight: 600;
      color: $grey;
    }

    & .chat__icon {
      color: $primary-color-1;
      font-size: $font-size-icon-2;
    }
  }

  &__body {
    display: none;
    background-color: $primary-color-2;
    position: absolute;
    height: 100%;
    width: 100%;

    overflow-y: auto;

    &.active {
      display: block;
      background-color: $white;
    }

    & .chat-body__list {
      list-style: none;
      padding: 0 1rem;

      & .chat-body__element {
        width: 100%;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        color: $primary-color-1;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

        &.active {
          background-color: $primary-color-1;
          color: white;
        }
      }
    }
  }
}
