.services__container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", "sans-serfi";
  align-items: center;
  flex-direction: column;
  width: 100%;

  & .services__head {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-weight: 600;
    }
  }

  & .services__body {
    width: 100%;
    padding: 2rem;
    display: grid;
    row-gap: 2rem;

    grid-template-columns: 33% 33% 33%;

    & .service__element {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;
      cursor: pointer;

      &--icon {
        font-size: 2.5rem;
        background-color: $white;
        padding: 2.5rem;
        border-radius: 20px;
        margin-bottom: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      }

      &--text {
        color: $grey;
      }
    }
  }
}
