.services-page__container {
  font-family: "Open Sans", "sans-serfi";
  background-color: $primary-color-2;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 3.5rem 2rem 7.5rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  & .services__page--title {
    text-align: left;
    font-weight: 600;
    font-size: $font-size-m;
  }
}
